div {
  background-color: royalblue;
}
.header {
  width: 200px;
  height: 200px;
  background-color: royalblue;
}
.header a {
  color: #222;
}
.header a:hover {
  color: limegreen;
}
.div {
  width: 200px;
  height: 25px;
  border: 5em solid #666666;
}
