.header .logo span {
    position: absolute;
    top: 10px;
    left: 190px;
    width: 57px;
    height: 19px;
    font-size: 19px;
}
.header .search {
    left: 77%;
}


.shopcar_hd h3 {
    width: 74px;
    height: 32px;
    border-bottom: 1px solid royalblue;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
    color: royalblue;
}
.shopcar_hd_bar {
    height: 36px;
    /* text-align: center; */
    line-height: 36px;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    color: #666;
}
.shopcar_hd_bar>div {
    float: left;
}
.bar_checkbox,
.item_checkbox {
    width: 200px;
}
.bar_good,
.item_good {
    width: 358px;
    padding-right: 50px!important;
}
.bar_price,
.item_price {
    width: 170px;   
}
.bar_num,
.item_num {
    width: 140px;
}
.bar_sum,
.item_sum {
    width: 168px;
}
.bar_action,
.item_action {
    width: 106px;
}
.shopcar_item {
    height: 170px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* background-color: skyblue; */
    color: #333;
    font-size: 14px;
}
.shopcar_item>div {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.item_checkbox img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border: 1px solid #ccc;
}
.item_num input {
    width: 46px;
    height: 21px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.item_num a {
    display: inline-block;
    width: 18px;
    height: 21px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    line-height: 20px;
}

.shopcar_footer {
    height: 50px;
    padding-left: 10px;
    background-color: #eee;
    line-height: 50px;
}
.shopcar_footer_checkbox,
.shopcar_footer a {
    float: left;
    padding-right: 50px;
}
.shopcar_footer_checkbox {
    color: #666;
}
.price_sum {
    float: right;
    color: #666;
}
.price_sum i {
    color: royalblue;
    font-size: 18px;
    font-weight: 700;
}
.price_sum button {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    background-color: royalblue;
    font-size: 18px;
    color: #fff;
}

.check_item {
    background-color: skyblue;
}